* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

body {
    color: #ededed;
    background: #081b29;
}

section {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #ededed;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;

}

.top i {
    color: #000000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}



